**Colour Scheme**: [Catppuccin](https://github.com/catppuccin/catppuccin)

**Distro:** [NixOS](https://nixos.org)

**Editor:** [Neovim](https://neovim.io)

**Terminal:** [kitty](https://sw.kovidgoyal.net/kitty)

**Tiling Compositor:** [Hyprland](https://hyprland.org)

**Managing Dotfiles:** [Home Manager](https://nix-community.github.io/home-manager)
