[Dotfiles](https://github.com/neowsl/nix-home)

**Colour Scheme**: [Catppuccin](https://github.com/catppuccin/catppuccin)

**Distro:** [NixOS](https://nixos.org)

**Editor:** [Doom Emacs](https://github.com/doomemacs/doomemacs) / [Neovim](https://neovim.io)

**Terminal:** [kitty](https://sw.kovidgoyal.net/kitty)

**Compositor:** [niri](https://github.com/niri-wm/niri)
