[Dotfiles](https://git.nealwang.dev/neo/nix-home)

**OS:** GNU/Linux

**Distro:** [NixOS](https://nixos.org)

**Compositor:** [niri](https://github.com/niri-wm/niri)

**Colour Scheme**: [Catppuccin](https://github.com/catppuccin/catppuccin)

**Terminal:** [Ghostty](https://ghostty.org)

**Editor:** [Neovim](https://neovim.io)
