@import "tailwindcss";
@plugin "@tailwindcss/typography";
@plugin "daisyui" {
    themes: synthwave --default;
}

@theme {
    --font-rocket-rinder: "Rocket Rinder", "sans-serif";
    --font-streamster: "Streamster", "sans-serif";
    --font-stereofunk: "Stereofunk", "sans-serif";
    --font-oxanium: "Oxanium", "sans-serif";
    --font-cascadia-code: "Cascadia Code", "monospace";
    --default-font-family: "Inter", "sans-serif";
}

@font-face {
    font-family: "Rocket Rinder";
    src: url("/fonts/Rocket Rinder.otf");
}
@font-face {
    font-family: "Streamster";
    src: url("/fonts/Streamster.ttf");
}
@font-face {
    font-family: "Stereofunk";
    src: url("/fonts/Stereofunk.ttf");
}
@font-face {
    font-family: "Matrix Code NFI";
    src: url("/fonts/Matrix Code NFI.ttf");
}

code {
    font-family: "Cascadia Code", monospace;
}
